$fg-color: white;
$bg-color: hsl(213, 28%, 15%);
$color-blue: hsl(234, 85%, 63%);
$color-blue-slight-lighter: hsl(234, 80%, 69%);
$color-blue-lighter: hsl(234, 86%, 78%);
$color-blue-darker: hsl(234, 46%, 40%);
$color-blue-desaturated: hsl(234, 10%, 70%);
$color-gray: hsl(0, 1%, 84%);
$color-gray-dark: hsl(0, 0%, 69%);

$color-slider-left: $color-blue;
$color-slider-right: $color-blue-desaturated;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$ui-font: "Inter", "Roboto", sans-serif;

@mixin flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

html {
  width: 15em;
}

body {
  width: 100%;
  margin: 0;
  padding: 0.7em 0;

  @include flexbox();
  justify-content: center;

  background: $bg-color;
}

span {
  font-size: 1.15em;
  color: $fg-color;
}

button {
  padding: 0.15em 0.5em;

  background-color: $color-blue;
  border: none;
  border-radius: 0.25em;

  font-family: $ui-font;
  font-size: 1.15em;
  font-weight: bold;
  color: $fg-color;

  &:active {
    background-color: $color-blue-darker;
  }
}

// Why must it be so hard to style an HTML5 input range? I even need
// JavaScript to make things "simpler". And *that* requires that I set
// up an entire system (see exports.module.scss) to export the variables
// from SCSS to JavaScript. Argh!
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  height: 0.6em;
  border-radius: 1em;

  background: linear-gradient(
    to right,
    $color-slider-left 0%,
    $color-slider-left 50%,
    $color-slider-right 50%,
    $color-slider-right 100%
  );

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 1.1em;
    height: 1.1em;
    border-radius: 1em;
    background-color: $color-blue-slight-lighter;
  }
}

.display-container {
  width: 85%;
  margin: 0.35em 0.5em;

  @include flexbox();
  flex-direction: column;

  font-family: $ui-font;
}

.display-row {
  height: 1.5em;
  width: 100%;

  margin: 0.25em 0;

  @include flexbox();

  div {
    @include flexbox();
  }

  &.main-row {
    justify-content: space-between;
    .reset-button {
      font-size: 1.25em;
    }
  }

  &.slider-display {
    width: calc(100% - 0.5em);
  }

  &.randomizer {
    justify-content: space-between;
    margin: 0.9em 0;

    button {
      font-weight: normal;
    }

    .choices {
      display: flex;
      justify-content: space-between;

      width: 7.5em;
    }

    .choice {
      font-weight: bold;
      background-color: $color-blue-slight-lighter;
      &:active {
        background-color: $color-blue-darker;
      }
    }
  }

  &.randomizer-results {
    justify-content: space-between;
    .score-prefix {
      margin-right: 0.35em;
    }

    .score-container {
      .percentage-container {
        margin-left: 0.25em;
      }
    }
  }
}

#slider-main {
  width: calc(100% - 3em);
}

#slider-value-prefix {
  width: 5.25em;
}

#slider-value {
  margin-right: 0.25em;
}
