:root {
  --fg-color: white;
  --bg-color: hsl(213, 28%, 15%);
  --color-1: hsl(234, 72%, 61%);
  --color-1-darker: hsl(234, 46%, 40%);
}

html {
  height: 4em;
  width: 15em;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color, black);
}

.display-container {
  width: 85%;
  height: 100%;
  margin: 0.35em 0.5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-row {
  position: relative;
  width: 100%;

  margin: 0.25em 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.display-row-main {
  justify-content: flex-start;
}

button {
  padding: 0.15em 0.4em;

  background-color: var(--color-1);
  border: none;
  border-radius: 0.25em;

  font-size: 1.2em;
  font-weight: bold;
  color: var(--fg-color);
}

button:active {
  background-color: var(--color-1-darker);
}

#slider-main {
  width: calc(100% - 2.5em);
  color: var(--color-1);
}

#reset-button {
  position: absolute;
  right: 0;
}

.slider-display-container {
  width: calc(100% - 0.5em);
  justify-content: flex-start;
}

.slider-text {
  font-size: 1.15em;
  color: var(--fg-color, white);
}

#slider-value-prefix {
  width: 4.75em;
}

#slider-value {
  margin-right: 0.25em;
}
